.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.header p {
  margin: 0;
  font-size: 18px;
}

.header span {
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
}
